.icon-picture {
  max-width: 25px;
  max-height: 25px;
  border-radius: 50%;
}

#filter-coins {
  display: flex;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 10px;
}

.coin-names {
}

.green {
  color: green;
}

.red {
  color: red;
}

.coin-name {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.coin-name p {
  text-transform: uppercase;
  font-size: 12px;
  color: #808080;
}

.coin-stats {
  display: flex;
}

.arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: start;
}

.arrow-up {
  width: 10px;
  height: 10px;
}

.arrow-down {
  width: 14px;
  height: 14px;
  visibility: hidden;
}
