.icon-picture {
  max-width: 25px;
  max-height: 25px;
  border-radius: 50%;
}

#filter-coins,
.coin-table {
  display: grid;
  grid-template-columns:
    40px /* rank */
    260px /* coin */
    120px /* price */
    80px /* 1h */
    80px /* 24h */
    80px /* 7d */
    160px /* volume */
    180px /* market cap */
    140px; /* chart */
  align-items: center;
  width: 100%;
  column-gap: 16px;
}
.green {
  color: green;
}

.red {
  color: red;
}

.coin-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.coin-info p {
  text-transform: uppercase;
}

.coin-name {
  display: flex;
  align-items: center;
  gap: 5px;
}

.arrow-down {
  display: none;
}
